
﻿@using Business.DTOs
@model BookDto

@{
    ViewData["Title"] = "GetAddPage";
    var categories = ViewBag.Categories;
    var authors = ViewBag.Authors;
}



<form asp-controller="Book" enctype="multipart/form-data" asp-action="AddBook" method="post">
  <div class="form-group row mb-4 mt-4">
    <div class="col">
        <label class="form-label" for="form6Example1" asp-for="Name">Book Name</label>
        <input type="text" class="form-control" asp-for="Name" />
         <span asp-validation-for="Name" class="text-danger"></span>

  </div>
  <div class="col-md-6">
    <label class="form-label">ISBN</label>
    <input type="text"  class="form-control" asp-for="ISBN"/>
    <span asp-validation-for="ISBN" class="text-danger"></span>

  </div>
  </div>
     <div class="col">
            <div class="form-outline mb-4">
       <select class="form-control" asp-for="AuthorId">
        <option value="">Select a author</option>
                @foreach (var author in authors)
                {
                                <option value="@author.Id">@author.Firstname @author.Lastname</option>
                }
    </select>
     <span asp-validation-for="AuthorId" class="text-danger"></span>
  </div>
  </div>

  <input  type="hidden" asp-for="ImagePath"/>
  <input type="file" name="imageFile" accept="image/*" id="imageInput">
         <span asp-validation-for="ImagePath" class="text-danger"></span>
 <img id="previewImage" style="max-width: 200px; max-height: 200px;"/>

   <div class="form-outline mb-4">
    <label asp-for="Description" class="form-label">Description</label>
    <textarea type="text"  class="form-control" asp-for="Description"></textarea>
             <span asp-validation-for="Description" class="text-danger"></span>

  </div>

  <div class="row">
      <div class="col-md-6">
            <div class="form-outline mb-4">
       <select class="form-control" asp-for="CategoryId">
        <option value="">Select a category</option>
                    @foreach (var category in categories)
                    {
                            <option value="@category.Id">@category.CategoryName</option>
                    }
    </select>
     <span asp-validation-for="CategoryId" class="text-danger"></span>
  </div>
  </div>
  <div class="col-md-6">
        <div class="mb-4 ">
            <input class="form-control" asp-for="PublishDate">
   </div>
  </div>

</div>

   <div class="row mb-4">
       <div class="col">
            <label class="form-label" for="form6Example4">Page Count</label>

    <input type="number" id="form6Example4" class="form-control" asp-for="PageCount"/>
         <span asp-validation-for="PageCount" class="text-danger"></span>
       </div>
       <div class="col">
               <div class="form-outline mb-4">
    <label class="form-label" for="form6Example4">Price</label>
    <input type="text" id="form6Example4" class="form-control" asp-for="Price"/>
    <span asp-validation-for="Price" class="text-danger"></span>
       </div>
   </div>

  </div>



  <button type="submit" class="btn btn-primary btn-block mb-4">Kaydet</button>
</form>

<script>
    document.getElementById("imageInput").addEventListener('change',(e)=>{
        var previewImage =  document.getElementById("previewImage");
        previewImage.src=URL.createObjectURL(e.target.files[0])
    })
</script>
