@using Business.DTOs
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Index";
}
@*razor syntax*@
@model X.PagedList.IPagedList<Business.DTOs.BookListDto>
@if(TempData["Added"] != null){
     <div class="alert alert-success" role="alert">@TempData["Added"]</div>
}

    <div class="container-i">
        <a asp-route="addProduct" class="btn btn-outline-success">Create</a>
        <div class="row" > 
         <table class="table align-middle mb-5 mt-5 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Category</th>
      <th>Page Count</th>
      <th>Price</th>
      <th>ISBN</th>
      <th>Publish Date</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
            @foreach (var item in Model)
                {
                  <tr>
                     <td>@item.Name</td>
                         <td>@item.Author.Firstname @item.Author.Lastname</td>
                         <td>@item.Category.CategoryName</td>
                     <td>@item.PageCount</td>
                     <td>@item.Price</td>
                         <td>@item.ISBN.ToUpper()</td>

                     <td>@item.PublishDate</td>
                     <td>
                            <a asp-action="GetUpdatePage" type="button" class="btn btn-outline-primary"
                          asp-route-id="@item.Id" asp-controller="book"  asp-action="updateBook">
                              Edit
                            </a>
                            <a asp-action="Remove" type="button" class="btn btn-outline-danger"
                               asp-route-id="@item.Id" asp-controller="book" >
                              Delete
                            </a>
                    </td>
                 </tr>

                }

  </tbody>
</table>

        </div>
    </div>

</br>
<div class="text-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" }, UlElementClasses = new[] { "pagination" } })
</div>
