



@using Business.DTOs
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Index";
}
@*razor syntax*@
@model X.PagedList.IPagedList<Business.DTOs.BookListDto>
@if (TempData["Added"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["Added"]</div>
}
<a asp-route="addProduct" class="btn btn-outline-success mb-5">Create</a>


    <table class="table table-bordered">
  <thead>
    <tr>
    <th>Name</th>
      <th>Author</th>
      <th>Category</th>
      <th>Page Count</th>
      <th>Price</th>
      <th>ISBN</th>
      <th>Publish Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model)
        {
                      <tr>
                         <td>@item.Name</td>
                             <td>@item.Author.Firstname @item.Author.Lastname</td>
                             <td>@item.Category.CategoryName</td>
                         <td>@item.PageCount</td>
                         <td>@item.Price</td>
                             <td>@item.ISBN.ToUpper()</td>

                         <td>@item.PublishDate</td>
                        <td>
                         <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" 
                      id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 ...
                     </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a asp-action="GetUpdatePage" type="button" class="dropdown-item"
                          asp-route-id="@item.Id" asp-controller="book"  asp-action="updateBook">
                                      Edit
                                    </a>
                                        <a asp-action="Remove" type="button" class="dropdown-item"
                               asp-route-id="@item.Id" asp-controller="book" >
                                      Delete
                                    </a>
                     </div>
                         </div>
                        </td>
                     </tr>

        }
  </tbody>
</table>




<!-- Example single danger button -->


@*    <label for="pageSizeSelect">Sayfa Boyutu:</label>
<select id="pageSizeSelect" onchange="changePageSize(this.value)" >
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>*@
</br>

<div class="text-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" }, UlElementClasses = new[] { "pagination" } })
</div>





@*<script>
    window.onload = function() {
        var pageSize = @Model.PageSize;


        var selectElement = document.getElementById("pageSizeSelect");
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === pageSize.toString()) {
                selectElement.options[i].selected = true;
                break;
            }
        }

    }

    function changePageSize(pageSize) {
        var currentUrl = window.location.href;
        var newUrl = updateQueryStringParameter(currentUrl, "pageSize", pageSize);
        window.location.href = newUrl;
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            uri = uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            uri = uri + separator + key + "=" + value;
        }

        // Güncellenmiş URL'yi kullanarak sayfa boyutu seçeneğini güncelle
        var selectElement = document.getElementById("pageSizeSelect");
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === value) {
                selectElement.options[i].selected = true;
                break;
            }
        }

        return uri;
    }
</script>*@



